extends ../recipe-partials/layout-grocery

//- Override default config variables
append config
  - var isPageTitle = false
  - var pageTitle = 'Update Recipe'
  - var parentMenu = 'Account'
  - var navbarTemplate = 'navbar-marketplace'
  - var footerTemplate = 'footer-marketplace'
  - var isFileUploadScript = true
  - var showSidebar = false
append scripts
  link(href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet")
  script(src="https://code.jquery.com/ui/1.10.4/jquery-ui.js")
  script(src='/js/admin-ingredients.js')
  

//- Page Content
block content

  //- dashboard-header.pug template
  //include partials/dashboard-header

  .mb-5.pb-3
    .bg-light.box-shadow-lg.rounded-lg.overflow-hidden
      .row

        // Sidebar
        aside.col-lg-4
          //- sidebar-dashboard.pug template
          //include partials/sidebar-dashboard

        // Content
        section.col-lg-12.pt-lg-4.pb-4.mb-3.ml-3
          .pt-2.px-4.pr-xl-5
            .row
              .col-md-2
                .h2 Ingredients
              .col-md-10
                .h2 Sotring
            .row
              .col-md-2
                .list-group(role="tablist")
                  a(href="#list-users", data-toggle="list", role="tab", aria-controls="list-users")#list-users-list.list-group-item.list-group-item-action.active
                    | Users
                  a(href="#list-recipeIngredients", data-toggle="list" role="tab", aria-controls="list-recipeIngredients")#list-recipeIngredients-list.list-group-item.list-group-item-action
                    | Recipe Ingredients
                  a(href="#list-ingredients", data-toggle="list", role="tab", aria-controls="list-messages")#list-ingredients-list.list-group-item.list-group-item-action
                    | Ingredients
                  a(href="#list-tags", data-toggle="list", role="tab", aria-controls="list-tags")#list-tags-list.list-group-item.list-group-item-action
                    | Tags
              .col-md-10.pt-4.pt-md-0
                .tab-content
                  #list-users.tab-pane.fade.show.active(role="tabpanel", aria-labelledby="list-users-list")
                  #list-recipeIngredients.tab-pane.fade(role="tabpanel", aria-labelledby="list-recipeIngredients-list")
                  #list-ingredients.tab-pane.fade(role="tabpanel", aria-labelledby="list-ingredients-list")
                  #list-tags.tab-pane.fade(role="tabpanel", aria-labelledby="list-tags-list")


            

  include ../recipe-partials/toast-generic-success