extends ../recipe-partials/layout-grocery

//- Override default config variables
append config
  - var isPageTitle = false
  - var pageTitle = 'Update Recipe'
  - var parentMenu = 'Account'
  - var navbarTemplate = 'navbar-marketplace'
  - var footerTemplate = 'footer-marketplace'
  - var isFileUploadScript = true
  - var showSidebar = false
  - var showSidbar = true
append scripts
  link(rel="stylesheet" media="screen" id="main-styles" href="/js/dropzone/dist/dropzone.css")
  link(href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet")
  script(src="https://code.jquery.com/ui/1.10.4/jquery-ui.js")
  script(src="https://code.jquery.com/ui/1.10.4/jquery-ui.js")
      
  script(src='/js/dropzone/dist/dropzone.js')
  script(src='/js/upload-recipe-images.js')
  

//- Page Content
block content

  //- dashboard-header.pug template
  //include partials/dashboard-header

  .container.mb-5.pb-3
    .bg-light.box-shadow-lg.rounded-lg.overflow-hidden
      .row

        // Sidebar
        aside.col-lg-4
          //- sidebar-dashboard.pug template
          //include partials/sidebar-dashboard

        // Content
        section.col-lg-12.pt-lg-4.pb-4.mb-3.ml-3
          .pt-2.px-4.pr-xl-5

            form(novalidate).needs-validation
              .h3 Update Images
              .row
                .col-md-12.form-group
                  label(for="recipeSelect") Select the recipe to get started
                  select(id="recipeSelect" required).form-control.custom-select
                    option(value="") Choose Recipe
                    each recipe in recipes
                      option(value=recipe.id) #{recipe.name}
              .row  
                .col-md-12.form-group
                  // Textual addon
                  ul.list-group.list-group-flush#sortable
            form.dropzone#upload-widget.d-none
            button(type="button")#update-recipe-images-btn.btn.btn-primary.mt-3.float-right
              | Update Recipe Images
            div(style="display:none !important")#img-template
              li.template-li.list-group-item.d-flex.justify-content-between.align-items-center
                span
                  i.czi-menu.mr-5
                  img(src=image style='max-height:75px').img-thumnail.rounded.mr-3.imagesrc
                  span.imagespan #{image}
                button(type="button" onclick='removeButtonClicked(this)').btn.btn-outline-primary.float-right.remove-img-btn
                  i.czi-trash.mr-2
                  | Remove



            

  include ../recipe-partials/toast-generic-success