extends ../profile/layout-profile

//- Override default config variables
append config
  - var pageTitleTemplate = 'page-title-dark'
  - var isPageTitle = true
  - var isToolbar = true
  - var pageTitle = 'My Favorites'
  - var parentMenu = 'Profile'
  - var breadcrumbs = [{'title': 'Profile', 'link': '/profile'}, {'title': 'My Favorites'}]
  - var removeOverlap = true

//- Page Content
block content

  .container.pb-5.mb-2.mb-md-3
    .row

      // Sidebar
      aside.col-lg-4.pt-4.pt-lg-0
        //- sidebar-account.pug template
        include ../profile/sidebar-account

      // Content  
      section.col-lg-8.py-4

        // Toolbar


        
        // Favorites - product cards list view
        if user
          each recipe in user.favorites
            if recipe.name
              .card.product-card.product-list
                //span.badge.badge-danger.badge-shadow #{recipe.favoredDate}
                button(type="button" data-toggle="tooltip" data-placement="left" title="Remove from Favorites").btn-wishlist.btn-sm.btn-primary.active
                  i.czi-trash
                .d-sm-flex.align-items-center
                  a(href="/recipe/"+recipe.id style="width:10rem").product-list-thumb
                    img(src=recipe.images[0], alt="Product")
                  .card-body.py-2
                    a(href="/recipe/"+recipe.id).product-meta.d-block.font-size-xs.pb-1
                      | #{recipe.author}
                    h3.product-title.font-size-base
                      a(href="/recipe/"+recipe.id) #{recipe.name}
                    .d-flex.justify-content-between
                      button(type="button").btn.btn-primary.btn-sm.mb-2.mt-1
                        i.czi-cart.font-size-sm.mr-1
                        | Add to Grocery List
                      +star-rating(4)
                        //a(href="#").nav-link-style.font-size-ms
                          i.czi-eye.align-middle.mr-1
                          | Quick view
              hr.pt-3.mt-3
              