extends recipe-partials/layout-grocery

//- Override default config variables
append config
  - var isPageTitle = false
  - var parentMenu = 'Account'
  
//- Page Content
block content

  .container.py-4.py-lg-5.my-4
    .row
      .col-md-12
        .card.border-0.box-shadow
          .card-body
            h2.h4.mb-1 Sign in
            hr
            form(action='/login' method='post').needs-validation
              .input-group-overlay.form-group
                .input-group-prepend-overlay
                  span.input-group-text
                    i.czi-mail
                input(name='username' type='email' placeholder='Email' required).form-control.prepended-form-control
              .input-group-overlay.form-group
                .input-group-prepend-overlay
                  span.input-group-text
                    i.czi-locked
                .password-toggle
                  input(name='password' type='password' placeholder='Password' required).form-control.prepended-form-control
                  label.password-toggle-btn
                    input(type='checkbox').custom-control-input
                    i.czi-eye.password-toggle-indicator
                    span.sr-only Show password
              .d-flex.flex-wrap.justify-content-between
                .custom-control.custom-checkbox
                  input(type='checkbox' checked)#remember_me.custom-control-input
                  label(for='remember_me').custom-control-label Remember me
                a(href='account-password-recovery.html').nav-link-inline.font-size-sm Forgot password?
              hr.mt-4
              .text-right.pt-4
                button(type='submit').btn.btn-primary
                  i.czi-sign-in.mr-2.ml-n21
                  | Sign In

