extends recipe-partials/layout-grocery

//- Override default config variables
append config
  - var isPageTitle = false
  - var pageTitle = 'Update Recipe'
  - var parentMenu = 'Account'
  - var navbarTemplate = 'navbar-marketplace'
  - var footerTemplate = 'footer-marketplace'
  - var isFileUploadScript = true
  - var showSidebar = false
  - var showSidbar = true
  - var includeFirebase = true
  - var includeIsotope = true
  - var includeAutoComplete = false
  - var includeRecipe = false
  - var includeRecipeSearch = false
  - var includeCreateRecipe = false
  - var includeGroceryList = false
  - var includeUpdateRecipe = true
  - var includeTest = false

//- Page Content
block content

  //- dashboard-header.pug template
  //include partials/dashboard-header

  .container.mb-5.pb-3
    .bg-light.box-shadow-lg.rounded-lg.overflow-hidden
      .row

        // Sidebar
        aside.col-lg-4
          //- sidebar-dashboard.pug template
          //include partials/sidebar-dashboard

        // Content
        section.col-lg-12.pt-lg-4.pb-4.mb-3.ml-3
          .pt-2.px-4.pr-xl-5

            // Title
            .d-sm-flex.flex-wrap.justify-content-between.align-items-center.pb-2
              h2.h3.py-2.mr-2.text-center.text-sm-left Update #{data.name}
            .row
              .col-xl-6.px-2.mb-3
                .list-group
                  a(id=data.id href="#").recipe-id.list-group-item.list-group-item-action
                    | #{data.id}
              .col-xl-6.px-2.mb-3
                form(novalidate).needs-validation#cr-form
                  .form-group.py-2
                    textarea(rows='6' name="cr-recipe-ingredients" required)#textarea-test.form-control
                    
  include recipe-partials/toast-generic-success