head
  meta(charset="utf-8")
  title
    block title
      | Cartzilla | !{pageTitle}

  // SEO Meta Tags
  meta(name="description", content="Cartzilla - Bootstrap E-commerce Template")
  meta(name="keywords", content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap 4, html5, css3, jquery, js, gallery, slider, touch, creative, clean")
  meta(name="author", content="Createx Studio")

  // Viewport
  meta(name='viewport' content='width=device-width, initial-scale=1')

  // Favicon and Touch Icons
  link(rel="apple-touch-icon", sizes="180x180")&attributes(isNestedFile ? {'href':'../apple-touch-icon.png'} : {'href':'/apple-touch-icon.png'})
  link(rel="icon", type="image/png", sizes="32x32")&attributes(isNestedFile ? {'href':'../favicon-32x32.png'} : {'href':'/favicon-32x32.png'})
  link(rel="icon", type="image/png", sizes="16x16")&attributes(isNestedFile ? {'href':'../favicon-16x16.png'} : {'href':'/favicon-16x16.png'})
  link(rel="manifest")&attributes(isNestedFile ? {'href':'../site.webmanifest'} : {'href':'/site.webmanifest'})
  link(rel="mask-icon", color="#fe6a6a")&attributes(isNestedFile ? {'href':'../safari-pinned-tab.svg'} : {'href':'/safari-pinned-tab.svg'})
  meta(name="msapplication-TileColor", content="#ffffff")
  meta(name="theme-color", content="#ffffff")

  // Vendor Styles including: Font Icons, Plugins, etc.
  link(rel="stylesheet", media="screen")&attributes(isNestedFile ? {'href': '../css/vendor.min.css'} : {'href': '/css/vendor.min.css'})

  if isChartScript
    // Chartist plugin
    link(rel="stylesheet", media="screen")&attributes(isNestedFile ? {'href': '../css/chartist.min.css'} : {'href': '/css/chartist.min.css'})

  if isCodeHighlighting
    // Code Highlighting
    link(rel="stylesheet", media="screen")&attributes(isNestedFile ? {'href': '../css/prism.min.css'} : {'href': '/css/prism.min.css'})

  // Main Theme Styles + Bootstrap
  link(rel="stylesheet", media="screen", id="main-styles")&attributes(isNestedFile ? {'href': '../css/theme.min.css'} : {'href': '/css/theme.min.css'})
  link(rel="stylesheet", media="screen", id="main-styles")&attributes(isNestedFile ? {'href': '../css/theme.min.css'} : {'href': '/css/recipe.search.css'})

  // JavaScript libraries, plugins and custom scripts
  
  script(src="https://code.jquery.com/jquery-3.4.1.min.js")
  script(src='/js/vendor.min.js')
  script(src='/js/theme.min.js')
  script(src='/js/search/isotope.pkgd.min.js')
  // JavaScript libraries, plugins and custom scripts
  //Load Classes
  script(src='/js/objects/Recipe.js')
  script(src='/js/objects/User.js')


  if select2
    link(href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" )
    script(src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js" defer)



  //FIREBASE
  if includeFirebase
    //Firebase App (the core Firebase SDK) is always required and must be listed first
    //script(src="https://www.gstatic.com/firebasejs/7.9.2/firebase-app.js")
    //script(src="https://www.gstatic.com/firebasejs/7.9.2/firebase-analytics.js")
    //script(src="https://www.gstatic.com/firebasejs/7.9.2/firebase-auth.js")
    //script(src="https://www.gstatic.com/firebasejs/7.9.2/firebase-firestore.js")
    //script(src='/js/recipe.firebase.js')
    
  script(src='/js/recipe.framework.js')

  //Searching JS
  if includeAutoComplete
    script(src='/js/search/jquery.autocomplete.min.js')
  if includeRecipe
    script(src='/js/recipe.js')
  if includeRecipeSearch
    script(src='/js/search/recipe.search.js')
  if includeGroceryList
    script(src='/js/groceryList.js')
  if includeUpdateRecipe
    script(src='/js/update-recipe.js')
  if includeUpdateTags
    script(src='/js/update-tags.js')
  if includeTest
    script(src='/js/test.js')
  if includeTest2
    script(src='/js/test2.js')

  
  block scripts