//- Dashboard sidebar

// Account menu toggler (hidden on screens larger 992px)
.d-block.d-lg-none.p-4
  a(href='#account-menu' data-toggle='collapse').btn.btn-outline-accent.d-block
    i.czi-menu.mr-2
    | Account menu

// Actual menu
.cz-sidebar-static.h-100.p-0
  #account-menu.secondary-nav.collapse.border-right
    .bg-secondary.p-3
      h3.font-size-md.mb-0.text-muted Admin
    ul.list-unstyled.mb-0
      li.border-bottom.mb-0
        a(href='/admin')&attributes(pageTitle === 'Admin Dashboard' ? {'class': 'nav-link-style d-flex align-items-center px-4 py-3 active'} : {'class': 'nav-link-style d-flex align-items-center px-4 py-3'})
          i.czi-settings.opacity-60.mr-2
          | Dashboard
          //span.font-size-sm.text-muted.ml-auto 4
      li.border-bottom.mb-0
        a(href='/admin/users')&attributes(pageTitle === 'Users' ? {'class': 'nav-link-style d-flex align-items-center px-4 py-3 active'} : {'class': 'nav-link-style d-flex align-items-center px-4 py-3'})
          i.czi-user.opacity-60.mr-2
          | Users
      li.border-bottom.mb-0
        a(href='/admin/recipes')&attributes(pageTitle === 'Recipes' ? {'class': 'nav-link-style d-flex align-items-center px-4 py-3 active'} : {'class': 'nav-link-style d-flex align-items-center px-4 py-3'})
          i.czi-basket.opacity-60.mr-2
          | Recipes
      li.border-bottom.mb-0
        a(href='/admin/recipe-ingredients')&attributes(pageTitle === 'Recipe Ingredients' ? {'class': 'nav-link-style d-flex align-items-center px-4 py-3 active'} : {'class': 'nav-link-style d-flex align-items-center px-4 py-3'})
          i.czi-bread.opacity-60.mr-2
          | Recipe Ingredients
      li.border-bottom.mb-0
        a(href='/admin/ingredients')&attributes(pageTitle === 'Ingredients' ? {'class': 'nav-link-style d-flex align-items-center px-4 py-3 active'} : {'class': 'nav-link-style d-flex align-items-center px-4 py-3'})
          i.czi-basket-alt.opacity-60.mr-2
          | Ingredients
      li.border-bottom.mb-0
        a(href='/admin/tags')&attributes(pageTitle === 'Tags' ? {'class': 'nav-link-style d-flex align-items-center px-4 py-3 active'} : {'class': 'nav-link-style d-flex align-items-center px-4 py-3'})
          i.czi-wallet.opacity-60.mr-2
          | Tags
      li.mb-0
        a(href='/admin/recipe-views')&attributes(pageTitle === 'Recipe Views' ? {'class': 'nav-link-style d-flex align-items-center px-4 py-3 active'} : {'class': 'nav-link-style d-flex align-items-center px-4 py-3'})
          i.czi-eye.opacity-60.mr-2
          | Recipe Views
    .bg-secondary.p-3
      h3.font-size-md.mb-0.text-muted Approvals
    ul.list-unstyled.mb-0
      li.border-bottom.mb-0
        a(href="/admin/pending-recipes")&attributes(pageTitle === 'Pending Recipes' ? {'class': 'nav-link-style d-flex align-items-center px-4 py-3 active'} : {'class': 'nav-link-style d-flex align-items-center px-4 py-3'})
          i.czi-thumb-up.opacity-60.mr-2
          | Pending Recipes
          span.font-size-sm.text-muted.ml-auto #{pendingRecipes}
    .bg-secondary.p-3
      h3.font-size-md.mb-0.text-muted Create, Update, Delete
    ul.list-unstyled.mb-0
      li.border-bottom.mb-0
        a(href="/admin/add-recipe")&attributes(pageTitle === 'Add Recipe' ? {'class': 'nav-link-style d-flex align-items-center px-4 py-3 active'} : {'class': 'nav-link-style d-flex align-items-center px-4 py-3'})
          i.czi-add-circle.opacity-60.mr-2
          | Add Recipe
      li.border-bottom.mb-0
        a(href="/admin/upload-recipe-images")&attributes(pageTitle === 'Upload Recipe Images' ? {'class': 'nav-link-style d-flex align-items-center px-4 py-3 active'} : {'class': 'nav-link-style d-flex align-items-center px-4 py-3'})
          i.czi-instagram.opacity-60.mr-2
          | Upload Recipe Imgs
      li.border-bottom.mb-0
        a(href='/admin/add-user')&attributes(pageTitle === 'Add User' ? {'class': 'nav-link-style d-flex align-items-center px-4 py-3 active'} : {'class': 'nav-link-style d-flex align-items-center px-4 py-3'})
          i.czi-add-user.opacity-60.mr-2
          | Add User
      li.border-bottom.mb-0
        a(href='/admin/add-ingredient')&attributes(pageTitle === 'Add Ingredient' ? {'class': 'nav-link-style d-flex align-items-center px-4 py-3 active'} : {'class': 'nav-link-style d-flex align-items-center px-4 py-3'})
          i.czi-add-circle.opacity-60.mr-2
          | Add Ingredient
      li.border-bottom.mb-0
        a(href='add-tag')&attributes(pageTitle === 'Add Tag' ? {'class': 'nav-link-style d-flex align-items-center px-4 py-3 active'} : {'class': 'nav-link-style d-flex align-items-center px-4 py-3'})
          i.czi-lable.opacity-60.mr-2
          | Add Tag
      li.mb-0
        a(href='/logout').nav-link-style.d-flex.align-items-center.px-4.py-3
          i.czi-sign-out.opacity-60.mr-2
          | Sign out
