//- Dashboard sidebar

// Account menu toggler (hidden on screens larger 992px)
.d-block.d-lg-none.p-4
  a(href='#account-menu' data-toggle='collapse').btn.btn-outline-accent.d-block
    i.czi-menu.mr-2
    | Account menu

// Actual menu
.cz-sidebar-static.h-100.p-0
  #account-menu.secondary-nav.collapse.border-right
    .bg-secondary.p-3
      h3.font-size-md.mb-0.text-muted Admin
    ul.list-unstyled.mb-0
      li.border-bottom.mb-0
        a(href='/admin')&attributes(pageTitle === 'Admin Dashboard' ? {'class': 'nav-link-style d-flex align-items-center px-4 py-3 active'} : {'class': 'nav-link-style d-flex align-items-center px-4 py-3'})
          i.czi-settings.opacity-60.mr-2
          | Dashboard
          //span.font-size-sm.text-muted.ml-auto 4
      li.border-bottom.mb-0
        a(href='/admin/recipes')&attributes(pageTitle === 'Recipes' ? {'class': 'nav-link-style d-flex align-items-center px-4 py-3 active'} : {'class': 'nav-link-style d-flex align-items-center px-4 py-3'})
          i.czi-basket.opacity-60.mr-2
          | Recipes
      li.border-bottom.mb-0
        a(href='/admin/recipe-ingredients')&attributes(pageTitle === 'Recipe Ingredients' ? {'class': 'nav-link-style d-flex align-items-center px-4 py-3 active'} : {'class': 'nav-link-style d-flex align-items-center px-4 py-3'})
          i.czi-bread.opacity-60.mr-2
          | Recipe Ingredients
      li.border-bottom.mb-0
        a(href='/admin/ingredients')&attributes(pageTitle === 'Ingredients' ? {'class': 'nav-link-style d-flex align-items-center px-4 py-3 active'} : {'class': 'nav-link-style d-flex align-items-center px-4 py-3'})
          i.czi-basket-alt.opacity-60.mr-2
          | Ingredients
      li.mb-0
        a()&attributes(pageTitle === 'Favorites' ? {'class': 'nav-link-style d-flex align-items-center px-4 py-3 active'} : {'class': 'nav-link-style d-flex align-items-center px-4 py-3'})
          i.czi-heart.opacity-60.mr-2
          | Tags
    .bg-secondary.p-3
      h3.font-size-md.mb-0.text-muted Approvals
    ul.list-unstyled.mb-0
      li.border-bottom.mb-0
        a()&attributes(pageTitle === 'Sales' ? {'class': 'nav-link-style d-flex align-items-center px-4 py-3 active'} : {'class': 'nav-link-style d-flex align-items-center px-4 py-3'})
          i.czi-thumb-up.opacity-60.mr-2
          | Pending Recipes
          span.font-size-sm.text-muted.ml-auto #{pendingRecipes}
    .bg-secondary.p-3
      h3.font-size-md.mb-0.text-muted Create, Update, Delete
    ul.list-unstyled.mb-0
      li.border-bottom.mb-0
        a()&attributes(pageTitle === 'Sales' ? {'class': 'nav-link-style d-flex align-items-center px-4 py-3 active'} : {'class': 'nav-link-style d-flex align-items-center px-4 py-3'})
          i.czi-dollar.opacity-60.mr-2
          | Add Recipe
      li.border-bottom.mb-0
        a()&attributes(pageTitle === 'Products' ? {'class': 'nav-link-style d-flex align-items-center px-4 py-3 active'} : {'class': 'nav-link-style d-flex align-items-center px-4 py-3'})
          i.czi-package.opacity-60.mr-2
          | Update Recipe Imgs
      li.border-bottom.mb-0
        a()&attributes(pageTitle === 'Add New Product' ? {'class': 'nav-link-style d-flex align-items-center px-4 py-3 active'} : {'class': 'nav-link-style d-flex align-items-center px-4 py-3'})
          i.czi-cloud-upload.opacity-60.mr-2
          | Update Recipe
      li.border-bottom.mb-0
        a()&attributes(pageTitle === 'Payouts' ? {'class': 'nav-link-style d-flex align-items-center px-4 py-3 active'} : {'class': 'nav-link-style d-flex align-items-center px-4 py-3'})
          i.czi-currency-exchange.opacity-60.mr-2
          | Update Recipe Ing.
      li.border-bottom.mb-0
        a()&attributes(pageTitle === 'Payouts' ? {'class': 'nav-link-style d-flex align-items-center px-4 py-3 active'} : {'class': 'nav-link-style d-flex align-items-center px-4 py-3'})
          i.czi-currency-exchange.opacity-60.mr-2
          | Update Tags
      li.mb-0
        a(href='/logout').nav-link-style.d-flex.align-items-center.px-4.py-3
          i.czi-sign-out.opacity-60.mr-2
          | Sign out
