//- Page title
- var pageTitle = 'Multipurpose Bootstrap E-commerce Template'
- var pageSubtitle = ''
- var pageTitleLink = {}

//- Breadcrumbs
- var breadcrumbs = []

//- Anchor navigation
- var anchorNav = []

//- Conditionals
- var isNavbar = true
- var isPageTitle = true
- var isPageTitleBadge = false
- var isFooter = true
- var isToolbar = true
- var isOffcanvasSidebar = false
- var isModalQuickView = false
- var isModalSizes = false
- var isModalOrder = false
- var isModalTicket = false
- var isModalPayment = false
- var isModalAddress = false
- var isCardScript = false
- var isChartScript = false
- var isCodeHighlighting = false

//- Templates
- var navbarTemplate
- var pageTitleTemplate
- var footerTemplate

//- File nesting
- var isNestedFile = false

//- Active menu item
- var parentMenu
